<section class="sessao-editclientes">
    <div class="bgmodal" id="modal">
        <div class="modaluser">
            <form action="/editarCliente" method="POST" id="clientes" name="clientes">
                <h1 class="titulo">Cliente</h1>
                <div class="userinput">
                    <input type="hidden" placeholder="id" name="id" id="id" value="<%= exibirCliente.id %>">
                    <input type="text" placeholder="Nome:" name="nome" value="<%= exibirCliente.nome %>">
                    <p class="email">
                        <input class="email" type="email" placeholder="E-mail:" name="email" value="<%= exibirCliente.email %>">
                        <input class="interna2" type="text" placeholder="CPF:" name="cpf" value="<%= exibirCliente.cpf %>"></p>
                    <p class="interna">
                        <input class="interna" type="text" placeholder="Telefone:" name="telefone" value="<%= exibirCliente.telefone %>">
                        <input class="interna" type="text" placeholder="Nascimento:" name="nascimento" value="<%= exibirCliente.nascimento %>" onfocus="(this.type='date')">
                        <input class="interna2" type="text" placeholder="Sexo:" name="sexo" value="<%= exibirCliente.sexo %>">
                    </p>
                    <input type="text" placeholder="Endereço:" name="endereco" value="<%= exibirCliente.endereco %>">
                    <p class="interna">
                        <input class="interna" type="text" placeholder="Cidade:" name="cidade" value="<%= exibirCliente.cidade %>">
                        <input class="interna" type="text" placeholder="Estado:" name="estado" value="<%= exibirCliente.estado %>">
                        <input class="interna2" type="text" placeholder="CEP:" name="cep" value="<%= exibirCliente.cep %>"></p>
                </div>
            </form>
            <div class="modaldisplay">
                <p>
                    <button class="btn modalbtn" type="submit" form="clientes">Salvar</button>
                </p>
                <p>
                    <a href="/listaclientes"><button class="btn modalbtn">Cancelar</button></a>
                </p>
            </div>
        </div>
    </div>
</section>