<section class="sessao-clientes" id="clientes">
    <div class="clientes-wrapper listaclientes">
        <% readuser.forEach( readuser => {%>
            <div class="listaclientes">
                <p>
                    Usuario:
                    <%= readuser.nome %>
                </p>
                <p>
                    email:
                    <%= readuser.email %>
                </p>
                <p>
                    CPF:
                    <%= readuser.cpf %>
                </p>
            </div>
            <div class="listaclientes">
                <p>
                    Telefone:
                    <%= readuser.telefone %>
                </p>
                <p>
                    Nascimento:
                    <%= readuser.nascimento %>
                </p>
                <p>
                    Sexo:
                    <%= readuser.sexo %>
                </p>
            </div>
            <div class="listaclientes">
                <p>
                    Endereço:
                    <%= readuser.endereco %>
                </p>
                <p>
                    Cidade:
                    <%= readuser.cidade %>
                </p>
                <p>
                    Estado:
                    <%= readuser.estado %>
                </p>
                <p>
                    CEP:
                    <%= readuser.cep %>
                        <% } )%>
                </p>
            </div>
            <br>
            <div class="button">
                <p class="button">
                    <a href="/clientes"><button class="btn button">Voltar</button></a>
                </p>
            </div>
    </div>
</section>