<section class="sessao-listaorcamento" id="listaorcamento">
    <div class="listaorcamento-wrapper">
        <% readorca.forEach( readorca => {%>
            <div class="listaorcamento border">
                <p class="etiqueta">
                    Produto:</p>
                <p class="conteudo">
                    <%= readorca.peca %>
                </p>
                <p class="etiqueta">
                    Compra R$:</p>
                <p class="conteudo">
                    <%= readorca.compras %> ,00
                </p>
                <p class="etiqueta">
                    Quantidade:</p>
                <p class="conteudo">
                    <%= readorca.quantidade %>
                </p>
                <p class="etiqueta">
                    lucro :</p>
                <p class="conteudo">
                    <%= readorca.lucro %> %
                </p>
                <p class="etiqueta">
                    Venda R$:</p>
                <p class="conteudo">
                    <%= readorca.venda %> ,00
                </p>
                <p class="etiqueta">
                    Mão de obra R$:</p>
                <p class="conteudo">
                    <%= readorca.maodeobra %> ,00
                </p>
                <p class="etiqueta">
                    Serviço:</p>
                <p class="conteudo">
                    <%= readorca.servicos%>
                        <div class="buttonorc">
                            <p class="buttonorcamento">
                                <a href="#"><button class="btn buttonorc"onclick="abrirModal()">Editar</button></a>
                            </p>
                        </div>
                        <div class="buttonorc">
                            <p class="buttonorcamento">
                                <a href="/listaorcamento/<%= readorca.id%>"><button class="btn buttonorc">Excluir</button></a>
                            </p>
                        </div>
                        <% } )%>
                            <div class="buttonusuario">
                                <p class="buttonorcamentos">
                                    <a href="/orcamento"><button class="btn buttonuser">Voltar</button></a>
                                </p>
                            </div>
                </p>
            </div>
    </div>
</section>
<div class="bg-modal" id="modal">
    <div class="modal">
        <span class="close" onclick="fecharModal()">&times;</span>
        <form action="/add" method="POST" id="orcamentos">
            <h1 class="titulo">Orçamentos</h1>
            <div class="orcainput">
                <input type="text" placeholder="Peça:" name="peca">
                <p class="orcamento">
                    <input class="orcamento" type="text" placeholder="Compra $:" name="compras">
                    <input class="orcamento" type="text" placeholder="Quantidade:" name="quantidade">
                    <input class="orcamento" type="text" placeholder="Lucro(%):" name="lucro">
                    <input class="orcamento" type="text" placeholder="Venda $:" name="venda">
                </p>
                <p class="orcamento">
                    <input class="orcamento2" type="text" placeholder="Mão de Obra:" name="maodeobra">
                    <input class="orcamento2" type="text" placeholder="Serviços:" name="servicos">
                </p>
            </div>
        </form>
        <div class="modaldisplay">
            <p>
                <button class="btn modalbtn">Salvar</button>
            </p>
            <p>
                <button class="btn modalbtn" onclick="fecharModal()">Cancelar</button>
            </p>
        </div>
    </div>
</div>