<section class="sessao-listaorcamento" id="listaorcamento">
    <div class="listaorcamento-wrapper">
        <% readorca.forEach( readorca => {%>
            <div class="listaorcamento border">
                <p class="etiqueta">
                    Produto:
                    <%= readorca.peca %>
                </p>
                <p class="etiqueta">
                    Compra R$:
                    <%= readorca.compras %> ,00
                </p>
                <p class="etiqueta">
                    Quantidade:
                    <%= readorca.quantidade %>
                </p>
                <p class="etiqueta">
                    lucro :
                    <%= readorca.lucro %> %
                </p>
                <p class="etiqueta">
                    Venda R$:
                    <%= readorca.venda %> ,00
                </p>
                <p class="etiqueta">
                    Mão de obra R$:
                    <%= readorca.maodeobra %> ,00
                </p>
                <p class="etiqueta">
                    Serviço:
                    <%= readorca.servicos%>
                        <div class="buttonorc">
                            <p class="buttonorcamento">
                                <a href="#"><button class="btn buttonorc">Editar</button></a>
                            </p>
                        </div>
                        <div class="buttonorc">
                            <p class="buttonorcamento">
                                <a href="/listaorcamento/<%= readorca.id%>"><button class="btn buttonorc">Excluir</button></a>
                            </p>
                        </div>
                        <% } )%>
                            <div class="button">
                                <p class="buttonorcamento">
                                    <a href="/orcamento"><button class="btn button">Voltar</button></a>
                                </p>
                            </div>
                </p>
            </div>
    </div>
</section>